<div class="row mt-5 mb-5">
  <h1>Título da Página</h1>
</div>

<div class="d-flex flex-column justify-content-around border p-3">

  <div class="row">
    <div class="col">
      Nome
    </div>
    <div class="col">
      Categoria
    </div>
    <div class="col">
      Likes
    </div>
    <div class="col">
      Assistidos
    </div>
    <div class="col">
      Ações
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      Naruto
    </div>
    <div class="col">
      Anime
    </div>
    <div class="col">
      1083
    </div>
    <div class="col">
      99318
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary btn-sm mr-1">Editar</button>
      <button type="button" class="btn btn-secondary btn-sm">Excluir</button>
    </div>
  </div>

</div>
