<div class="login bg-dark d-flex justify-content-center align-items-center">

  <form action="">
    <div class="d-flex flex-column bg-white p-5 rounded">

      <div class="text-center">
        <h2>My Favorite List</h2>
        <h4>Login</h4>
      </div>

      <label>Email</label>
      <input type="text" class="form-control">

      <label>Senha</label>
      <input type="text" class="form-control">

      <div class="d-flex mt-4">
        <button (click)="login()" type="button" class="btn btn-primary btn-lg mr-2 w-100">Entrar</button>
        <button (click)="cancelar()" type="button" class="btn btn-secondary btn-lg w-100">Cancelar</button>
      </div>

    </div>
  </form>

</div>
