.footer{
    position: fixed;
    bottom: 0;
    width: 100%;

    /*display: flex;
    justify-content: flex-end;

    max-height: 32px;
*/
    background-color: gray;

}

.footer span{
    font-weight: 300;
    font-size: 1rem;
}